{% extends 'core/base.html' %}
{% block title %}Conocenos {% endblock %}

{%block background%}{%load static%}{%static 'core/img/portfolio-bg.jpg'%}{%endblock%}

{% block content %}
<div class="col-lg-3 col-md-4 offset-lg-1">
  <img class="img-fluid avatar" src="{%static 'core/img/AnaSaldaña.jpg' %}" alt="">
</div>
<div class="col-lg-7 col-md-8" style="text-align: justify; color: black;">
  <h2 class="section-heading" style="color: black; font-size: 24px !important;">Ana M. Magdalena Saldaña Pérez</h2>
  <h4 class="section-heading" style="color: black; font-size: 18px !important;">Académico responsable.</h4>    
  <p style="color: black;">Adscrita al Laboratorio de Procesamiento Inteligente de Información Geoespacial</p>
  <p><a href=https://www.cic.ipn.mx/index.php/ana-maria-magdalena-saldana>Directorio CIC</a></p>
</div>
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{%static 'core/img/valeria.jpg' %}" alt="">
  </div>
  <div class="col-lg-7 col-md-8" style="text-align: justify; color: black;">
    <h2 class="section-heading" style="color: black; font-size: 24px !important;">Valeria Legaria</h2>
    <p style="color: black;">Estudiante de doctorado en Ciencias de la Computación, en el Centro de Investigación en Computación del Instituto Politécnico Nacional con interés por el medio ambiente y la inteligencia artificial.</p>
    <p><a href=https://www.linkedin.com/in/valeria-legaria>LinkedIn</a></p>
    <p><a href=https://github.com/vlegaria>Github</a></p>
  </div>
  <div class="col-lg-3 col-md-4 offset-lg-1  ">
    <img class="img-fluid avatar" src="{%static 'core/img/RafaelRojas.jpg' %}" alt="">
  </div>
  <div class="col-lg-7 col-md-8" style="text-align: justify; color: black;">
    <h2 class="section-heading" style="color: black; font-size: 24px !important;">Rafael Rojas</h2>
    <p style="color: black;">Estudiante de Ing. Mecatrónica con amplia experiencia en el ámbito empresarial y apasionado por las ciencias computacionales, actualmente se desarrolla en el campo del ML y la Inteligencia Artificial</p>
    <p><a href=https://www.linkedin.com/in/rafael-y-rojas-nieves-839881166>LinkedIn</a></p>
    <p><a href=https://github.com/JFRo57/Portafolio>Github</a></p>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid avatar" src="{%static 'core/img/francisco.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8" style="text-align: justify; color: black;">
      <h2 class="section-heading" style="color: black; font-size: 24px !important;">Francisco Ramírez</h2>
      <p style="color: black;">Estudiante de Ingeniería Mecatrónica, la Unidad Profesional Interdisciplinaria en Ingeniería y Tecnologías Avanzadas (UPIITA) del Instituto Politécnico Nacional. Con habilidades en programación y electrónica.</p>
      <p><a href=https://www.linkedin.com/in/francisco-ramirez-leon-203a13161>LinkedIn</a></p>
      <p><a href=https://github.com/FrankXav>Github</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid avatar" src="{%static 'core/img/Yoqsan.jpeg' %}" alt="">
    </div>
  <div class="col-lg-7 col-md-8" style="text-align: justify; color: black;">
  <h2 class="section-heading" style="color: black; font-size: 24px !important;">Yoqsan Angeles</h2>
    <p style="color: black;">Estudiante de doctorado en Ciencias de la Computación en el Instituto Politécnico Nacional de México, con trabajos en en desarrollo de algoritmos de optimización bioinspirados así como en el uso de redes neuronales aplicados en áreas como clasificación de patrones y robótica.</p>
    <p><a href=https://www.linkedin.com/in/yoqsan-angeles-ba8769244>LinkedIn</a></p>
  </div>
  

{% endblock %}


