{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{%block background%}{%load static%}{%static 'core/img/about-bg.jpg'%}{%endblock%}

{% block headers %}
<h1> Acerca de  </h1>
<span class="subheading">Proyecto de Predicción de Calidad del Aire</span>
{% endblock %}

{% block content %}
<div class="col-lg-8 col-md-10 mx-auto"  style="text-align: justify; color: black;">
    <h2>Acerca del Proyecto</h2>
    <p>Este proyecto participó en la convocatoria Proyectos de DesarrolloTecnológico o innovación para alumnos del IPN (PDTIA) y recibió apoyo del Instituto Politécnico Nacional y a través de la secretaría de Investigación y Posgrado, con el número de proyecto 2024-A179</p>
    <p>Este proyecto es resultado del trabajo de colaboración entre alumnos del Centro de Investigación en Computación (CIC) y la Unidad Profesional Interdisciplinaria en Ingeniería y Tecnologías Avanzadas (UPIITA), ambas pertenecientes al Instituto Politécnico Nacional. Su objetivo es pronosticar los niveles de ozono en varias partes de la Ciudad de México, para que la población pueda atender de manera oportuna las recomendaciones de acuerdo a la calidad del aire que se presente, con una hora o hasta un día de anticipación.</p>
    <p>El pronóstico es realizado por modelos computacionales que fueron entrenados a nivel hiperlocal, por lo que su zona de alcance es la equivalente al de la estación de monitoreo atmosférico correspondiente. La información utilizada para su entrenamiento está conformada por las mediciones de contaminantes atmosféricos, variables meteorológicas e información del flujo vehicular. Los datos utilizados hasta la fecha han sido recopilados de servidores o repositorios de acceso público durante tres meses, por lo que la información es limitada, aun así, los primeros resultados muestran ligeras mejoras en la precisión del pronóstico al comparar nuestra propuesta contra los modelos que utilizan únicamente datos atmosféricos y meteorológicos.</p>
    <h3>Cláusula de descargo de responsabilidad</h3>
    <p>Los resultados de los modelos de pronóstico que se muestran a través de esta página web, forman parte de un producto de investigación y un proyecto académico generado por estudiantes, por lo que no se da garantía ni tampoco se tiene responsabilidad u obligación relativa a la exactitud de la información que aquí se muestra. Este producto no reemplaza los pronósticos oficiales y no se garantiza su integridad. El usuario asume toda la responsabilidad por el uso de estos datos.</p>
</div>
{% endblock %}
