{% extends 'core/base.html' %}

{% block title %}Portada{% endblock %}

{%block background%}{%load static%}{%static 'core/img/home-bg.jpg'%}{%endblock%}

{%block headers%}
<h1> Modelo de predicción de contaminantes atmosféricos</h1>
<span class="subheading">Proyecto de Desarrollo Tecnológico desarrollado por alumnos del IPN</span>
{%endblock%}

{%block content%}

<div class="col-lg-8 col-md-10 mx-auto"  style="text-align: justify; color: black;">
    <h2>La calidad del aire y su impacto en la salud</h2>
    <p>La calidad del aire que respiramos influye de manera directa en nuestra salud y bienestar. Contaminantes como el ozono, las partículas en suspensión, el dióxido de nitrógeno y el dióxido de azufre pueden afectar el sistema respiratorio, cardiovascular y causar otros problemas de salud a corto y largo plazo. Numerosos estudios han demostrado que una exposición prolongada a un aire contaminado está relacionada con un aumento en enfermedades respiratorias, ataques cardíacos, y el agravamiento de condiciones como el asma y la bronquitis.</p> 

<h4>Referencias</h4>
    <!-- Referencia 1 -->

<p></p>
<a href="https://www.gob.mx/comisionambiental/es/articulos/contaminacion-del-aire-y-su-repercusion-en-la-salud?idiom=es" target="_blank"><p>
    Comisión Ambiental de la Megalópolis. (2024). Contaminación del aire y su repercusión en la salud. gob.mx
</p></a>

<!-- Referencia 2 -->
<a href="https://www.who.int/es/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health" target="_blank">
    Organización Mundial de la Salud (OMS). (2022). La contaminación del aire y la salud. OMS
</a>

</div>
{%endblock%}






