{% extends 'core/base.html' %}
{% block title %}Metricas {% endblock %}

{%block background%}{%load static%}{%static 'core/img/portfolio-bg.jpg'%}{%endblock%}

{% block content %}

<div class="col-lg-10 col-md-10 mx-auto"  style="text-align: justify; color: black;">
    <h1> Métricas de los modelos  </h1>
    <p> Las estimaciones de los contaminantes atmosféricos se realizan con un modelo XGBoost en su version de regresor.
        El modelo se reentrena automaticamente con los datos recopilados de ese día y se actualiza solo sí se mejoran las métricas del modelo anterior (modelo en producción).
        <p></p>
        <p>En la tabla 1 se muestra las métricas del modelo actual para el pronóstico de la siguiente hora:</p>
        <p> </p>
            <table class="tg" style="table-layout: fixed; width: 372px; margin:auto"><colgroup>
                <caption class="table-title"> Tabla 1.</caption>
            <col style="width: 78px">
            <col style="width: 78px">
            <col style="width: 78px">
            <col style="width: 78px">
            <col style="width: 78px">
            <col style="width: 78px">
            <col style="width: 78px">
            </colgroup>
            <thead>
              <tr>
                <th class="tg-c3ow"></th>
                <th class="tg-c3ow" colspan="3">Con tráfico</th>
                <th class="tg-baqh" colspan="3">Sin tráfico</th>
              </tr></thead>
            <tbody>
              <tr>
                <td class="tg-baqh">Métricas</td>
                <td class="tg-baqh">R2</td>
                <td class="tg-baqh">R2-adj</td>
                <td class="tg-baqh">RMSE<p>(ppb)</p></td>
                <td class="tg-baqh">R2</td>
                <td class="tg-baqh">R2-adj</td>
                <td class="tg-baqh">RMSE<p>(ppb)</p></td>
              </tr>
              <tr>
                <td class="tg-baqh">MER</td>
                <td class="tg-baqh">0.821712</td>
                <td class="tg-baqh">0.677976</td>
                <td class="tg-baqh">12.247256</td>
                <td class="tg-baqh">0.817348</td>
                <td class="tg-baqh">0.689358</td>
                <td class="tg-baqh">12.396251</td>
              </tr>
              <tr>
                <td class="tg-baqh">UIZ</td>
                <td class="tg-baqh">0.801033</td>
                <td class="tg-baqh">0.586971</td>
                <td class="tg-baqh">13.184089</td>
                <td class="tg-baqh">0.793360</td>
                <td class="tg-baqh">0.603830</td>
                <td class="tg-baqh">13.435895</td>
              </tr>
            </tbody>
            </table>
            <p></p>


            <p>En la tabla 2 se muestra las métricas del modelo actual para el pronóstico del día siguiente:</p>
            <p> </p>
            <p> </p>
                <table class="tg" style="table-layout: fixed; width: 372px; margin:auto"><colgroup>
                    <caption class="table-title"> Tabla 2.</caption>
                <col style="width: 78px">
                <col style="width: 78px">
                <col style="width: 78px">
                <col style="width: 78px">
                <col style="width: 78px">
                <col style="width: 78px">
                <col style="width: 78px">
                </colgroup>
                <thead>
                  <tr>
                    <th class="tg-c3ow"></th>
                    <th class="tg-c3ow" colspan="3">Con tráfico</th>
                    <th class="tg-baqh" colspan="3">Sin tráfico</th>
                  </tr></thead>
                <tbody>
                  <tr>
                    <td class="tg-baqh">Métricas</td>
                    <td class="tg-baqh">R2</td>
                    <td class="tg-baqh">R2-adj</td>
                    <td class="tg-baqh">RMSE<p>(ppb)</p></td>
                    <td class="tg-baqh">R2</td>
                    <td class="tg-baqh">R2-adj</td>
                    <td class="tg-baqh">RMSE<p>(ppb)</p></td>
                  </tr>
                  <tr>
                    <td class="tg-baqh">MER</td>
                    <td class="tg-baqh">0.581322</td>
                    <td class="tg-baqh">0.239365</td>
                    <td class="tg-baqh">19.319269</td>
                    <td class="tg-baqh">0.590237</td>
                    <td class="tg-baqh">0.299568</td>
                    <td class="tg-baqh">19.112468</td>
                  </tr>
                  <tr>
                    <td class="tg-baqh">UIZ</td>
                    <td class="tg-baqh">0.599372</td>
                    <td class="tg-baqh">0.162323</td>
                    <td class="tg-baqh">19.070938</td>
                    <td class="tg-baqh">0.568643</td>
                    <td class="tg-baqh">0.167898</td>
                    <td class="tg-baqh">19.788819</td>
                  </tr>
                </tbody>
                </table>
                <p></p>

<p></p>
En la gráfica 1 se ilustra una muestra de los valores de Ozono registrados por el sensor de la estacion atmosférica MER vs el valor que se pronostico con el modelo
entrenado una hora antes de conocer cual sería su valor.
<p></p>
</div>

<div id="chart_div" style="width: 800px; height: 500px;"></div>

{% endblock %}


