{% extends 'core/base.html' %}
{% load static %}
{%block background%}{%load static%}{%static 'core/img/home-bg.jpg'%}{%endblock%}
{%block headers%}
<div class="forecast-container">
    <h2>Pronóstico de calidad del aire CDMX</h2>
    <div class="form-map-container">
        <div class="map-container">
            <img src="{% static 'core/img/mapa-cdmx.png' %}" class="img-fluid" alt="Mapa CDMX">
            <div class="marker mer" title="MER"></div>
            <div class="marker ped" title="PED"></div>
            <div class="marker uiz" title="UIZ"></div>
        </div>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="contaminante">Contaminante:</label>
                    <select id="contaminante" class="form-control">
                        <option>Ozono</option>
                        <option>Dióxido de azufre</option>
                        <option>Monóxido de Carbono</option>
                        <option>Particulas en</option>
                        <!-- Más opciones si es necesario -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="intervalo">Intervalo de tiempo:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="intervalo" id="1hora" value="1">
                        <label class="form-check-label" for="1hora">1 hora</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="intervalo" id="24horas" value="24">
                        <label class="form-check-label" for="24horas">24 horas</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="pronosticar">Pronosticar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="alert-container">
        <div class="alert alert-info mt-3" role="alert">
            Recomendaciones para la estación PED: La calidad del aire es buena. Se puede realizar cualquier actividad al aire libre.
        </div>
    </div>
</div>
{%endblock%}



{% block title %}Pronóstico de Calidad del Aire CDMX{% endblock %}

{% block content %}

{% endblock %}
